<style>
    label {
      font-weight: bold;
    }
  
    input {
      padding: 8px;
      margin: 5px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  
    button {
      padding: 8px 12px;
      margin-top: 10px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  </style>

<div *ngIf="isUserConnected">
    <label>Product name : </label>
    <input (input)="OnSearchUpdate()" [(ngModel)] = "nameSearch"/>
    <br>
    <label>MAX product price : </label>
    <input (input)="OnSearchUpdate()"  [(ngModel)] = "priceSearch" title="Pick a price" type="number"/>
</div>